<div class="container">
  <div class="row">
    <div class="col-md-10 ">
      <form class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Edit Profile</a></li>
            <li><a data-toggle="tab" href="#whiskers">Whiskers</a></li>
          </ul>

          <div class="tab-content" *ngIf="profile">
            <div id="home" class="tab-pane fade in active">
              <legend>Edit Profile</legend>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="Name">Name</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <input [(ngModel)]="profile.name" id="Name" name="Name" type="text" placeholder="Name"
                           class="form-control">
                  </div>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="Name">Surname</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <input [(ngModel)]="profile.surname" id="Surname" name="Surname" type="text" placeholder="Surname"
                           class="form-control">
                  </div>
                </div>
              </div>

              <!-- Password input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="Password">Password</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <input [(ngModel)]="profile.password" id="Password" name="Password" type="password"
                           placeholder="Password" class="form-control input-md">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                  <button class="btn btn-success" (click)="updateProfile($event)"><span
                    class="glyphicon glyphicon-thumbs-up"></span> Update</button>
                  <button class="btn btn-danger" value="" (click)="deleteProfile($event)"><span
                    class="glyphicon glyphicon-remove-sign"></span> Delete profile</button>
                </div>
              </div>
            </div>
            <div id="whiskers" class="tab-pane fade">
              <legend>Whiskers</legend>
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Cat</th>
                  <th>Whisky</th>
                  <th>Edit Whisker</th>
                </tr>
                </thead>
                <tbody *ngIf="whiskers">
                  <tr *ngFor="let whisker of whiskers; let i = index">
                    <td *ngIf="cats[i]">{{cats[i].breed}}</td>
                    <td *ngIf="whiskies[i]">{{whiskies[i].distillery}}</td>
                    <td><button (click)="deleteWhisker(i)" class="btn btn-danger btn-sm">Delete</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

  </div>
</div>
