.navbar-twitch {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 100%;
  border-radius: 0px;
  border: 0px;
  z-index: 1030;
}

.navbar-twitch > .container {
  padding: 0px;
  width: 100%;
}

.navbar-twitch > .container .navbar-brand > .small-nav {
  display: block;
}

.navbar-twitch .navbar-nav > li {
  float: none;
}

.navbar-twitch .navbar-nav {
  float: none;
  margin: 0px;
}

.navbar-twitch .navbar-nav > li > a {
  padding: 0px;
}

.navbar-twitch .navbar-nav > li > a > span {
  display: block;
  font-size: 16pt;
  padding: 13px 15px 13px 12px;
}

.btn-purple,
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:Active {
  color: rgb(255, 255, 255);
  background-color: #5a5179;
  border-color: rgb(111, 84, 153);
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:Active {
  background-color: #6C648B;
  border-color: rgb(86, 61, 124);
}

.navbar {
  background-image: none !important;
  background-color: #6C648B;
}
