<div class="navbar navbar-inverse navbar-twitch" role="navigation">
  <div class="container">
    <div class="">
      <ul class="nav navbar-nav">
        <li routerLinkActive="btn-purple">
          <a routerLink="/home">
            <span><img src="http://www.pvhc.net/img5/rudooxnptirbinlmyfoq.gif" style="width:32px;height:28px;border:0"></span>
          </a>
        </li>
        <li routerLinkActive="btn-purple" *ngIf="!isLoggedIn()">
          <a routerLink="/users">
            <span><img src="https://image.flaticon.com/icons/svg/219/219988.svg" style="width:32px;height:28px;border:0"></span>
          </a>
        </li>
        <li routerLinkActive="btn-purple" *ngIf="isLoggedIn()">
          <a routerLink="/profile">
            <span><img src="https://image.flaticon.com/icons/svg/219/219988.svg" style="width:32px;height:28px;border:0"></span>
          </a>
        </li>
        <li routerLinkActive="btn-purple">
          <a routerLink="/cats">
            <span><img src="http://icons.iconarchive.com/icons/sonya/swarm/256/Cat-icon.png" style="width:32px;height:32px;border:0"></span>
          </a>
        </li>
        <li routerLinkActive="btn-purple">
          <a routerLink="/whiskies">
            <span><img src="http://icons.iconarchive.com/icons/sonya/swarm/256/Whiskey-icon.png" style="width:32px;height:32px;border:0"></span>
          </a>
        </li>
        <li routerLinkActive="btn-purple" *ngIf="isLoggedIn()">
          <a routerLink="/whiskers">
            <span><img src="http://localhost:3000/images/drinkingcat.png" style="width:32px;height:32px;border:0"></span>
          </a>
        </li>
        <li routerLinkActive="btn-purple" *ngIf="isLoggedIn()" (click) = "logout()">
          <a routerLink="#">
            <span><img src="http://itsopro.com/wp-content/uploads/2017/09/door.png" style="width:32px;height:32px;border:0"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
