<div class="container">
  <div class="row">
    <div class="col-sm-16">
      <div class="panel panel-default">
        <div class="panel-body"><h3>What is Whiskers?</h3></div>
          <div class="panel-footer">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id pretium odio. In pulvinar in nibh eget efficitur. Quisque congue egestas faucibus. Pellentesque sit amet imperdiet ligula. Suspendisse et nisi suscipit, consequat mauris tincidunt, commodo ante. Vestibulum euismod mauris sit amet ligula blandit viverra. Quisque quis ligula quis turpis rutrum semper. Phasellus libero ex, cursus in tempor ut, condimentum consequat ante. Sed fringilla suscipit metus, et molestie nunc maximus et.</p>
            <p>Pellentesque eget lectus vitae erat semper varius. Pellentesque scelerisque metus non dolor ornare ornare. Donec pellentesque nibh id ligula finibus accumsan. Suspendisse bibendum dolor nulla, non imperdiet lacus rutrum sed. Nulla facilisi. Sed accumsan dignissim laoreet. Morbi id ipsum eget dolor feugiat pulvinar et pharetra quam. Morbi quam ipsum, varius eu fringilla id, viverra eu est. Donec feugiat, lacus et sodales tempus, sem arcu semper mauris, vitae gravida massa nunc scelerisque quam. Maecenas elementum nec lectus at suscipit. Phasellus sed faucibus leo.</p>
            <p> Sed tempus placerat ante, ut convallis lorem condimentum sed. Suspendisse sed mi id metus luctus semper. Aenean ut dapibus est. Pellentesque quis placerat erat, nec sollicitudin tortor. Proin congue ex et laoreet maximus. Mauris erat diam, fermentum sed semper eget, interdum et nibh. Aenean elementum ac nisi et luctus. Praesent nec lacus id ligula imperdiet ultrices quis at nulla. Quisque at varius risus. Etiam vestibulum quam eu ex fermentum, non feugiat mauris mollis. Curabitur metus diam, bibendum ac eleifend ac, tincidunt ac risus.</p>
            <p>Nulla sodales massa eu pulvinar volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vel convallis tellus. In viverra, risus vitae sollicitudin ullamcorper, ligula tellus vestibulum lacus, a bibendum dolor nulla sed justo. Maecenas aliquet sapien nec suscipit cursus. Maecenas imperdiet, felis non egestas lacinia, ex orci tempus mauris, in faucibus enim arcu fringilla mauris. Ut consectetur sem eget odio ornare, quis cursus sem molestie. Aenean sit amet iaculis felis.</p>
            <p> Cras bibendum vestibulum fermentum. Sed semper consequat augue et luctus. Phasellus a condimentum tellus. Suspendisse porta tellus porttitor nunc hendrerit consectetur. Nullam elementum magna felis. Sed accumsan malesuada elit, eu tempus mi. Nunc finibus, orci vitae facilisis ullamcorper, augue enim aliquet urna, ac vulputate erat eros sit amet tortor. Cras hendrerit tempus mauris, eget tempus augue elementum a. Nullam id turpis aliquet, luctus nunc consequat, ornare mi.</p>
            <img src="http://www.businesscat.happyjar.com/wp-content/uploads/2014/03/2014-03-25-Whiskey.png" width="60%" height="30%"/>
          </div>
      </div>
    </div>
  </div>
</div>
