@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

body {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 1.42857;
  background: #333333;
  height: 350px;
  padding: 0;
  margin: 0;
}

.container-login {
  min-height: 0;
  width: 480px;
  color: #333333;
  margin-top: 40px;
  padding: 0;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-login > section {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 10px;
}

#top-bar {
  display: inherit;
}

.nav-tabs.nav-justified {
  border-bottom: 0 none;
  width: 100%;
}

.nav-tabs.nav-justified > li {
  display: table-cell;
  width: 1%;
  float: none;
}

.container-login .nav-tabs.nav-justified > li > a,
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
  background: rgb(111, 84, 153);
  border: medium none;
  color: #ffffff;
  margin-bottom: 0;
  margin-right: 0;
  border-radius: 0;
}

.container-login .nav-tabs.nav-justified > .active > a,
.container-login .nav-tabs.nav-justified > .active > a:hover,
.container-login .nav-tabs.nav-justified > .active > a:focus {
  background: #ffffff;
  color: #333333;
}

.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
  background: rgb(111, 84, 153);
}

.tabs-login {
  background: #ffffff;
  border: medium none;
  margin-top: -1px;
  padding: 10px 30px;
}
.container-login h2 {
  color: rgb(111, 84, 153);
}

.container-login button,
.container-login button:hover,
.container-login button:focus,
.container-login button:Active {
  color: rgb(255, 255, 255);
  background-color: #5a5179;
  border-color: rgb(111, 84, 153);
  border-radius: 0;
  font-size: 18px;
  line-height: 1.33;
  padding: 10px 16px;
  width: 100%;
}

.container-login button:hover,
.container-login button:focus,
.container-login button:Active {
  background-color: #6C648B;
  border-color: rgb(86, 61, 124);
}

