<script>
  $(document).ready(function() {
    $("div.login-body>div.nav-tabs>a").click(function(e) {
      e.preventDefault();
      $(this).siblings('a.active').removeClass("active");
      $(this).addClass("active");
      var index = $(this).index();
      $("div.login-body>div.tab-content").removeClass("active");
      $("div.login-body>div.tab-content").eq(index).addClass("active");
    });
  });
</script>

<div class="login-body">
  <article class="container-login center-block">
    <section>
      <ul id="top-bar" class="nav nav-tabs nav-justified">
        <li class="active"><a href="#login-access" data-toggle="tab">Login</a></li>
        <li><a href="#register-access" data-toggle="tab">Register</a></li>
      </ul>
      <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
        <div id="login-access" class="tab-pane fade in active">
          <h2><i class="glyphicon glyphicon-log-in"></i> Login</h2>
          <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal" (ngSubmit)="login()">
            <div class="form-group ">
              <div class="alert alert-danger" *ngIf="failed">
                <strong>Failed to log in!</strong> Please try again.
              </div>
              <label for="login" class="sr-only">Email</label>
              <input type="text" [(ngModel)]="username" class="form-control" name="login" id="login_value"
                     placeholder="Email" tabindex="1" value="" />
            </div>
            <div class="form-group ">
              <label for="password" class="sr-only">Password</label>
              <input [(ngModel)]="password" type="password" class="form-control" name="password" id="password"
                     placeholder="Password" value="" tabindex="2" />
            </div>
            <br/>
            <div class="form-group ">
              <button type="submit" name="log-me-in" id="submit" tabindex="5" class="btn btn-lg btn-primary">Login</button>
            </div>
          </form>
        </div>
        <div id="register-access" class="tab-pane fade in">
          <h2><i class="glyphicon glyphicon-log-in"></i> Register</h2>
          <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal" (ngSubmit)="register()">
            <div class="form-group ">
              <div class="alert alert-danger" *ngIf="failedReg">
                <strong>Failed register!</strong> Please try again.
              </div>
              <div class="alert alert-success" *ngIf="successfulReg">
                <strong>Success!</strong> Now try to login.
              </div>
              <label for="username" class="sr-only">Email</label>
              <input [(ngModel)]="reqUsername" type="text" class="form-control" name="login" id="username"
                     placeholder="Email" tabindex="1" value="" />
            </div>
            <div class="form-group ">
              <label for="password" class="sr-only">Password</label>
              <input [(ngModel)]="reqPassword" type="password" class="form-control" name="password" id="password_value"
                     placeholder="Password" value="" tabindex="2" />
            </div>
            <div class="form-group ">
              <label for="name" class="sr-only">Name</label>
              <input [(ngModel)]="reqName" type="text" class="form-control" name="login" id="name"
                     placeholder="Name" tabindex="1" value="" />
            </div>
            <div class="form-group ">
              <label for="surname" class="sr-only">Surname</label>
              <input [(ngModel)]="reqSurname" type="text" class="form-control" name="surname" id="surname"
                     placeholder="Surname" tabindex="1" value="" />
            </div>
            <br/>
            <div class="form-group ">
              <button type="submit" name="log-me-in" id="submit2" tabindex="5" class="btn btn-lg btn-primary">Register</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </article>
</div>
