<div class="container">
  <div class="row">
    <div class="col-sm-3">

      <!--Start of whisky filtering-->
      <div class="row">
        <div class="col-sm-16">
          <div class="panel panel-default">
            <div class="panel-body"><h3>Filtering whiskiees</h3></div>
            <div class="panel-footer">
              <label for="name">Name:</label>
              <input (ngModelChange)="setName($event)" [ngModel]="name" type="text" class="form-control" id="name">

              <label for="regions">Region</label>
              <select (ngModelChange)="setRegion($event)" [ngModel]="region" class="form-control" id="regions">
                <option></option>
                <option *ngFor="let value of regions">{{value}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!--Start of whisky filtering-->
      <div class="row" *ngIf="selectedWhisky">
        <div class="col-sm-16">
          <div class="panel panel-default">
            <div class="panel-body"><h3>Updating whisky</h3></div>
            <div class="panel-footer">
              <label for="distillery">Distillery:</label>
              <input [(ngModel)]="selectedWhisky.distillery" type="text" class="form-control" id="distillery">

              <label for="location">Location:</label>
              <input [(ngModel)]="selectedWhisky.location" type="text" class="form-control" id="location">

              <label for="region">Region:</label>
              <input [(ngModel)]="selectedWhisky.region" type="text" class="form-control" id="region">

              <label for="ownedBy">Owned By:</label>
              <input [(ngModel)]="selectedWhisky.ownedBy" type="text" class="form-control" id="ownedBy">

              <br>
              <button (click)="updateWhisky($event)" class="btn btn-success btn-sm">Update</button>
              <button (click)="deleteWhisky($event)" class="btn btn-danger btn-sm">Delete</button>
              <button (click)="deselectWhisky($event)" class="btn btn-warning btn-sm">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <!--Start of creating whisky-->
      <div class="row" *ngIf="!selectedWhisky">
        <div class="col-sm-16">
          <div class="panel panel-default">
            <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal"
                  (ngSubmit)="createWhisky()">
              <div class="panel-body"><h3>Create whiskie</h3></div>
              <div class="panel-footer">
                <label for="distillery">Distillery:</label>
                <input [(ngModel)]="createDistillery" type="text" class="form-control" id="distillery"
                       name="distillery">

                <label for="location">Location:</label>
                <input [(ngModel)]="createLocation" type="text" class="form-control" id="location" name="location">

                <label for="region">Region:</label>
                <input [(ngModel)]="createRegion" type="text" class="form-control" id="region" name="region">

                <label for="ownedBy">Owned By:</label>
                <input [(ngModel)]="createOwnedby" type="text" class="form-control" id="ownedBy" name="ownedBy">

                <br>
                <button type="submit" name="create-whisky" id="submit2" tabindex="5" class="btn btn-md btn-primary">
                  Create whiskiee
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

      <div class="col-md-7">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Distillery</th>
            <th>Location</th>
            <th>Region</th>
            <th>Owned By</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let whisky of whiskies" (click)="onSelect(whisky)">
            <td>{{whisky.distillery}}</td>
            <td>{{whisky.location}}</td>
            <td>{{whisky.region}}</td>
            <td>{{whisky.ownedBy}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
