<div class="container">
  <div class="row">
    <div class="table-responsive col-md-4">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Breed</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cat of cats" (click)="onSelectCat(cat)"  [ngClass]="{'active': selectedCat == cat}">
          <td>{{cat.breed}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive col-sm-4 fixed">
      <table class="table table-hover">
        <thead>
        <tr>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td align="center">{{outputMessage}}<button [disabled]="disableButton()" (click)="changeImage()"> <img src="{{image}}"/>{{buttonName}}</button></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive col-md-4">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Distillery</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let whisky of whiskies" (click)="onSelectWhisky(whisky)" [ngClass]="{'active': selectedWhisky == whisky}">
          <td>{{whisky.distillery}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
