<div class="container">
  <div class="row">
    <div class="col-sm-3">

      <!--Filtering catzieees-->
      <div class="row">
        <div class="col-sm-16">
          <div class="panel panel-default">
            <div class="panel-body"><h3>Filtering catziees</h3></div>
            <div class="panel-footer">
              <label for="name">Breed:</label>
              <input (ngModelChange)="setName($event)" [ngModel]="name" type="text" class="form-control" id="name">

              <label for="furs">Fur</label>
              <select (ngModelChange)="setFur($event)" [ngModel]="fur" class="form-control" id="furs">
                <option *ngFor="let value of allFurs">{{value}}</option>
              </select>

              <label for="types">Type</label>
              <select (ngModelChange)="setType($event)" [ngModel]="type" class="form-control" id="types">
                <option *ngFor="let value of allTypes">{{value}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!--End of Filtering catziees-->

      <!--Updating catziees-->
      <div class="row" *ngIf="selectedCat">
        <div class="col-sm-16">
          <div class="panel panel-default">
            <div class="panel-body"><h3>Update catziee</h3></div>
            <div class="panel-footer">
              <label for="breed">Breed:</label>
              <input [(ngModel)]="selectedCat.breed" type="text" class="form-control" id="breed">

              <label for="coat">Fur:</label>
              <input [(ngModel)]="selectedCat.coat" type="text" class="form-control" id="coat">

              <label for="bodyType">Body Type:</label>
              <input [(ngModel)]="selectedCat.bodyType" type="text" class="form-control" id="bodyType">

              <label for="image">Picture:</label>
              <input [(ngModel)]="selectedCat.image" type="text" class="form-control" id="image">

              <br>
              <button (click)="updateCat($event)" class="btn btn-success btn-sm">Update</button>
              <button (click)="deleteCat($event)" class="btn btn-danger btn-sm">Delete</button>
              <button (click)="deselectCat($event)" class="btn btn-warning btn-sm">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <!--End of Updating catziees-->

      <!--Creating catziees-->
      <div class="row" *ngIf="!selectedCat">
        <div class="col-sm-16">
          <div class="panel panel-default">
            <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal"
                  (ngSubmit)="createCat()">
              <div class="panel-body"><h3>Create cat</h3></div>
              <div class="panel-footer">
                <label for="breed">Breed:</label>
                <input [(ngModel)]="createBreed" type="text" class="form-control" id="breed" name="breed">

                <label for="bodyType">Body Type:</label>
                <input [(ngModel)]="createBodytype" type="text" class="form-control" id="bodyType" name="bodyType">

                <label for="coat">Coat:</label>
                <input [(ngModel)]="createCoat" type="text" class="form-control" id="coat" name="coat">

                <label for="country">Country:</label>
                <input [(ngModel)]="createCountry" type="text" class="form-control" id="country" name="country">

                <label for="image">Image:</label>
                <input [(ngModel)]="createImage" type="text" class="form-control" id="image" name="image">

                <label for="origin">Origin:</label>
                <input [(ngModel)]="createOrigin" type="text" class="form-control" id="origin" name="origin">

                <label for="pattern">Pattern:</label>
                <input [(ngModel)]="createPattern" type="text" class="form-control" id="pattern" name="pattern">

                <br>
                <button type="submit" name="create-cat" id="submit2" tabindex="5" class="btn btn-md btn-primary">Create catziee</button>
              </div>
            </form>
          </div>
        </div>

      </div>
      <!-- End of creating catziees -->
    </div>

    <div class="col-md-8">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Breed</th>
          <th>Fur</th>
          <th>Body Type</th>
          <th>Picture</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cat of cats" (click)="onSelect(cat)">
          <td>{{cat.breed}}</td>
          <td>{{cat.coat}}</td>
          <td>{{cat.bodyType}}</td>
          <td><img width="150px" heigh="150px" alt="Catcat"
                   src="{{cat.image || 'http://www.salesradar.io/wp-content/uploads/2016/03/cat.jpg'}}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
